---
---

<section class="py-12">
    <div class="container mx-auto px-4 grid gap-8 flex flex-col">
      <div class="gradient-text text-center font-extrabold tracking-tighter text-4xl md:text-6xl text-shadow">Our Flagship Program</div>
      <p class="mt-4 text-lg text-black text-center">
        A three-week, immersive training program that teaches students how to build tech products from scratch.
        Students will work on real-world projects, learn from MIT Engineering students, and form teams to build their own tech products.
        Teams will be carefully formed based on students' interests and skills, and will combine students with different backgrounds to create a diverse and inclusive learning environment. 
        Each team will be paired with an industry professional throughout the program.
        They will simultaneously learn how to build a personal brand, network with industry professionals, and develop the skills needed to succeed in the tech industry.
        The program concludes with a Demo Day where students will present their projects to a panel of judges and receive feedback on their work.
      </p>
    </div>
</section>
  
  