---
---

<section class="py-12">
    <div class="container mx-auto px-4 grid gap-8 sm:grid-cols-2">
      <div class="card bg-white rounded p-6 text-center">
        <div class="gradient-text text-center font-extrabold tracking-tighter text-4xl md:text-6xl text-shadow">Our Vision</div>
        <p class="mt-4 text-lg text-black">
          A future where all Cypriot youth is united, with education serving as the bridge connecting the Greek Cypriot and Turkish Cypriot communities, ensuring equal access to quality education and opportunities for growth.
        </p>
      </div>
      <div class="card bg-white rounded p-6 text-center">
        <div class="gradient-text text-center font-extrabold tracking-tighter text-4xl md:text-6xl text-shadow">Our Mission</div>
        <p class="mt-4 text-lg text-black">
          To foster educational equity and mutual understanding among Turkish Cypriot and Greek Cypriot communities through immersive learning experiences in engineering, entrepreneurship, and innovation.
        </p>
      </div>
    </div>
  </section>
  
  <style>
    .text-copper-500 {
      color: #d78b2d; /* Copper orange color inspired by the flag of Cyprus */
    }
    .text-green-700 {
      color: #d78b2d; /* Deep green color inspired by the olive branches on the flag of Cyprus */
    }
  </style>
  